#s_animation{
    /* border-radius: 100px 100px 100px 100px; */
    width: 150px;
    height: 150px;
    /* background-color: yellow; */
    background-image: url(../image/banner.jpg);
    position: relative;

    /* animation property */
    animation-name: movingBox;

    /* -webkit-animation-name: movingBox; use for iphone display */
    -webkit-animation-name: movingBox;
    animation-duration: 15s;

    /* count infinte */
    animation-iteration-count: 2;

    /* animation-direction: alternate; reverse */
    animation-direction: reverse;
    animation-delay: 5s;

}
@keyframes movingBox{
    0%{background-color: yellow;left: 0px; top:0px}
    25%{background-color: red;left: 300px; top: 0px;}
    50%{background-color: blue;left: 300px; top: 300px;}
    75%{background-color: brown;left: 0px; top: 300px;}
    100%{background-color: green;left: 0px; top: 0px;}

}