h4{
    color: dodgerblue;
}


p{
    color: darksalmon;
    background-color: chartreuse;
}

h1{
    color: red;
    background-color:yellow;

}

h2{
    color: fuchsia;
    background-color: firebrick;
}