.f_family1{
    font-family: cursive;
}
.f_family2{
    font-family: monospace;
}

.f_family3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f_family4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.f_family5{
    font-family: 'Times New Roman', Times, serif;
}

/* shadow.html */

.b_shadow{
    box-shadow: 5px 4px 2px gray;
    width: 400px;
}

.b_shadow1{
    box-shadow: 6px 7px 3px palevioletred;
}

.d_shadow{
    filter: drop-shadow(7px 10px 2px black);
    width: 200px;
}
.d_shadow1 {
    filter: drop-shadow(8px 9px 2px gray);
    width: 200px;
}

/* Border Properties */
.b_properties1{
    border: 10px solid rebeccapurple;
}

.b_properties2{
    border: 10px dotted red;
}
.b_properties3{
    border: 5px dashed brown;
}
.b_properties4{
    border: 10px double navy;
}
.b_properties5{
    border: 10px inset brown;
}

.b_properties6{
    border: 10px outset green;
}
.b_properties7{
    border: 20px groove yellow;
}

.b_properties8{
    border: 10px solid yellow;
    border-top-color: blue;
    border-right-color: crimson;
    border-bottom-color: greenyellow;
    border-left-color: bisque;
    
}

/* Corner */
.b_properties9{
    border: 8px solid brown;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.b_properties10{
    border: 8px solid brown;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.b_properties11{
    border: 8px solid brown;
    border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;

}
.b_properties12{
     
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.b_properties13{
      border: 8px solid green;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

/* Box Model */
.box_model1{
    border: 6px solid brown;
    padding: 30px;

}

.box_model2{
    border: 6px solid  brown;
    padding: 30px;
    margin: 80px;
}
.box_model3{
    border: 6px solid brown;
    border-radius: 30px;
    /* top, right, bottom, left */
    padding: 40px 70px 40px 70px;
    margin: 30px 60px 30px 60px;
}
.box_model4{
    border: 6px dotted yellow;
    padding: 30px 20px 30px 20px;
    border-radius: 20px 30px 20px 30px;
}
 /* Postion */
.box{
    border: 7px double brown;
    padding: 30px;
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.box1{
    position: static;
    /* left: 500px; no change */
}
.box2{
    position: relative;
    left: 400px;
}
.box3{
    position: absolute;
    left: 400px;
    top: 20px;
}
.box4{
    position: sticky;
    top: 10px;

}
.box5{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

/* Flex */
.flex-items{
    background-color: chocolate;
    width: 200px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* space-evenly, space-between, space-around */
    list-style: none;


}







